table {
    border-collapse: collapse;
    width: 400px;
}

input {
    box-sizing: border-box;
    width: 40%;
}

.input-group {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 4px 0px
}

